<!DOCTYPE html>
<html>
	<body>
	<div id = "wrapper">
		<nav class = "navbar navbar-default navbar-static-top" role = "navigation" style = "margin-bottom:0">
			::before
			<div class = "navbar-header">
			::before

			</div>

		</nav>
	</body>
</html>

